<div class="flex flex-col justify-start items-center w-full">
  <%= render "form", admin_episode: @admin_episode %>

  <br>

  <div>
    <%= link_to "Back to episodes", admin_movie_episodes_path %>
  </div>
</div>